
.jumbotron p {
  color: darkorange; 
  text-shadow: .3px .3px #000000;
}

.jumbotron h1 {
  color: #87CEEB;
  text-shadow: .9px .9px #000000;
}
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  background-color: black;
  opacity: 0.8;
  display: inline-block;
  margin: 3em;
  padding: 1em;
  border-radius: 20px; 
  box-shadow: 5px 5px 2.5px #888888;
}



/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
  padding-top: 70px;
}
footer {
  padding: 30px 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}
